*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Global */
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.section {
  padding: 6em 0;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  margin: 0.5em 0 2em 0;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

/* Navigation */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4em 0;
  background: transparent;
  z-index: 3;
}

.nav .logo {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.4em;
  color: #fed136;
}

.nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav .nav-menu .menu-item {
  padding: 1em 1.2em;
  line-height: 1.4em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .nav-menu .menu-item:hover {
  -webkit-box-shadow: 7px 7px 15px #fed136;
          box-shadow: 7px 7px 15px #fed136;
}

.nav .nav-menu .menu-item:hover a {
  color: #fed136;
}

.nav .nav-menu .menu-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

/* Header */
.header {
  position: relative;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}

.header .wrapper .header-title {
  font-size: 2.8rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

.header .wrapper .header-subtitle {
  margin: 0.5em;
  font-size: 4.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header .wrapper .header-btn {
  padding: 1.5em 3.2em;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #fed136;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.header .wrapper .header-btn:hover {
  background: transparent;
  color: #fed136;
  -webkit-box-shadow: 0 0 20px #fed136;
          box-shadow: 0 0 20px #fed136;
}

.header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: 0.8;
}

/* Services */
.services {
  overflow: hidden;
}

.services .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .row .services-card {
  margin: 1em;
  padding: 3em 0;
}

.services .row .services-card .card-icon {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  border: 3px solid #fed136;
  border-radius: 50%;
}

.services .row .services-card .card-icon i {
  font-size: 2rem;
  color: #fed136;
}

.services .row .services-card .card-title {
  margin: 1.5em;
  font-size: 1rem;
  text-align: center;
}

.services .row .services-card p {
  line-height: 1.6em;
  font-family: "Playfair Display", serif;
  color: #222222;
  text-align: center;
}

/* Portfolio */
.portfolio {
  background: #f7f7f7;
  overflow: hidden;
}

.portfolio .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .row .portfolio-card {
  margin: 1em;
  padding: 0;
  background: #fff;
}

.portfolio .row .portfolio-card .card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .row .portfolio-card .card-img img {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .row .portfolio-card .card-title,
.portfolio .row .portfolio-card p {
  text-align: center;
}

.portfolio .row .portfolio-card .card-title {
  margin-top: 2em;
  font-size: 1.2rem;
}

.portfolio .row .portfolio-card p {
  margin-bottom: 2em;
  font-size: 1rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

/* Footer */
.footer {
  padding: 2em 0;
}

.footer .container .row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .container .row p {
  padding: 2em;
  font-size: 0.9rem;
  text-align: center;
}

.footer .container .row .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .row .footer-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.8em;
  width: 45px;
  height: 45px;
  background: #222222;
  border-radius: 50%;
}

.footer .container .row .footer-icon i {
  font-size: 1.2rem;
  color: #fff;
}

/* Media */
@media (max-width: 575px) {
  .nav {
    position: relative;
    background: #222222;
  }
  .nav .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .nav .row .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .row .menu-item {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .wrapper .header-title {
    font-size: 1.2rem;
  }
  .header .wrapper .header-subtitle {
    margin: 1.2em 0;
    font-size: 1.8rem;
  }
  .header .wrapper .header-btn {
    padding: 1em 2.4em;
  }
  .footer .container .row {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .section-title {
    font-size: 1.6rem;
  }
  .section-subtitle {
    font-size: 1.4rem;
  }
  .header .wrapper .header-title {
    font-size: 1.6rem;
  }
  .header .wrapper .header-subtitle {
    margin: 1.4em 0;
    font-size: 2.2rem;
  }
  .header .wrapper .header-btn {
    padding: 1em 2.2em;
  }
  .nav .row .logo {
    text-align: center;
  }
  .services .row .services-card .card-title {
    font-size: 1.2rem;
  }
}

@media (min-width: 767px) {
  .header .wrapper .header-title {
    font-size: 2rem;
  }
  .header .wrapper .header-subtitle {
    font-size: 2.6rem;
  }
  .header .wrapper .header-btn {
    padding: 1.2em 1.8em;
    font-size: 1.2rem;
  }
}

@media (min-width: 991px) {
  .section-title {
    font-size: 2.2rem;
  }
  .section-subtitle {
    font-size: 1.6rem;
  }
  .header .wrapper .header-title {
    font-size: 2.2rem;
  }
  .header .wrapper .header-subtitle {
    font-size: 3.8rem;
  }
  .header .wrapper .header-btn {
    padding: 1em 2.8em;
  }
  .services .row .services-card .card-title {
    font-size: 1.4rem;
  }
  .services .row .services-card p {
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .portfolio .row .portfolio-card {
    margin-bottom: 3em;
  }
}
/*# sourceMappingURL=style.css.map */