$main-color: #fed136;
$primary-color: #222222;
$secondary-color: #fff;
$section-color: #f7f7f7;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$transition: all 0.3s;

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Global */

body {
	font-family: $primary-font;
}

.section-title {
	margin-top: 4em;
	text-align: center;
	text-transform: uppercase;
}

.section-subtitle {
	margin: 0.5em 0 2em 0;
	text-align: center;
	font-weight: 300;
	font-style: italic;
	font-family: $secondary-font;
}

/* Navigation */

.nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 1.4em 0;
	background: transparent;
	z-index: 3;

	.logo {
		font-family: $secondary-font;
		font-style: italic;
		font-size: 1.6rem;
		line-height: 1.4em;
		color: $main-color;
	}

	.nav-menu {
		display: flex;
		list-style: none;

		.menu-item {
			padding: 1em 1.2em;
			line-height: 1.4em;
			transition: $transition;

			&:hover {
				box-shadow: 7px 7px 15px $main-color;

				& a {
					color: $main-color;
				}
			}

			a {
				display: block;
				text-decoration: none;
				color: $secondary-color;
				text-transform: uppercase;
			}
		}
	}
}

/* Header */

.header {
	position: relative;
	background-image: url('../images/hero-bg.jpg');
	background-position: center;
	background-size: cover;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.wrapper {
		text-align: center;
		color: $secondary-color;
		z-index: 2;

		.header-title {
			font-size: 2.8rem;
			font-family: $secondary-font;
			font-style: italic;
			font-weight: 300;
			letter-spacing: 1px;
		}

		.header-subtitle {
			margin: 0.5em;
			font-size: 4.4rem;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		.header-btn {
			padding: 1.5em 3.2em;
			font-size: 1rem;
			text-transform: uppercase;
			color: $secondary-color;
			background-color: $main-color;
			font-weight: bold;
			border: none;
			border-radius: 5px;
			letter-spacing: 1px;
			transition: $transition;
			cursor: pointer;

			&:hover {
				background: transparent;
				color: $main-color;
				box-shadow: 0 0 20px $main-color;
			}
		}
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $primary-color;
		opacity: 0.8;
	}
}

/* Services */

.services {
	.row {
		justify-content: center;

		.services-card {
			padding: 3em;

			.card-icon {
				margin: 0 auto;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 70px;
				height: 70px;
				border: 3px solid $main-color;
				border-radius: 50%;

				i {
					font-size: 2rem;
					color: $main-color;
				}
			}

			.card-title {
				margin: 1.5em;
				font-size: 1rem;
				text-align: center;
			}

			p {
				line-height: 1.6em;
				font-family: $secondary-font;
				color: $primary-color;
				text-align: center;
			}
		}
	}
}

/* Media */

@media (max-width: 575px) {
	.nav {
		position: relative;
		background: $primary-color;

		.row {
			display: flex;
			flex-direction: column;
			text-align: center;

			.nav-menu {
				display: flex;
				flex-direction: column;
			}

			.menu-item {
				width: 100%;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}

	.header {
		.wrapper {
			.header-title {
				font-size: 1.2rem;
			}

			.header-subtitle {
				margin: 1.2em 0;
				font-size: 1.8rem;
			}

			.header-btn {
				padding: 1em 2.4em;
			}
		}
	}
}

@media (min-width: 576px) {
	.section-title {
		font-size: 1.6rem;
	}

	.section-subtitle {
		font-size: 1.4rem;
	}

	.header {
		.wrapper {
			.header-title {
				font-size: 1.6rem;
			}

			.header-subtitle {
				margin: 1.4em 0;
				font-size: 2.2rem;
			}

			.header-btn {
				padding: 1em 2.2em;
			}
		}
	}

	.nav {
		.row {
			.logo {
				text-align: center;
			}
		}
	}

	.services {
		.row {
			.services-card {
				.card-title {
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media (min-width: 767px) {
	.header {
		.wrapper {
			.header-title {
				font-size: 2rem;
			}

			.header-subtitle {
				font-size: 2.6rem;
			}

			.header-btn {
				padding: 1.2em 1.8em;
				font-size: 1.2rem;
			}
		}
	}
}

@media (min-width: 991px) {
	.section-title {
		font-size: 2.2rem;
	}

	.section-subtitle {
		font-size: 1.6rem;
	}

	.header {
		.wrapper {
			.header-title {
				font-size: 2.2rem;
			}

			.header-subtitle {
				font-size: 3.8rem;
			}

			.header-btn {
				padding: 1em 2.8em;
			}
		}
	}

	.services {
		.row {
			.services-card {
				.card-title {
					font-size: 1.4rem;
				}

				p {
					font-size: 1em;
				}
			}
		}
	}
}
